@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600&display=swap');

* {
    font-family: 'Sora';
}


.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 
    "hero hero"
    "article form"
    "col1 col2"
    ;
}

.grid-item-1 {
    background-color: black;
    grid-area: hero;
}

.blog-title {
    color: white;
    font-size: 60px;
    margin-left: 175px;
    margin-top: 100px;
}

.strapline {
    color: white;
    margin-left: 175px;
    margin-bottom: 40px;
}

.grid-item-2 {
    background-color: white;
    grid-area: article

}

.body-text {
    margin-left: 175px;
    margin-right: 50px;
    margin-top: 100px;
    max-width: 80%;
}

.grid-item-3 {
    background-color: red;
    grid-area: col1;
}

.grid-item-4 {
    grid-area: form;
    text-align: center;
    padding: 4%;
}

.decrypt-form {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.47); 
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.47);
}

.form-head {
    background-color: rgb(247, 242, 242);
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.form-title {
    background-color: rgb(58, 58, 58);
    padding: 4% 0;
    color: white;
}

.entries {
    text-align: center;
}

.form-content-1 {
    width: 82%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.form-content-2 {
    width: 82%;
    margin-left: 4%;
    margin-right: 2%;
}

.article-image {
    max-width: 40%;
    margin-top: 10%;
}

.submit-button {
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin-top: 4%;;
    background-color: rgb(0, 167, 0);
    font-size: 20px;
    padding: 2%;
}

.grid-item-5 {
    background-color: peru;
    grid-area: col2;
}

@media(max-width: 1200px) {
    
    .grid-container {
        grid-template-columns: 100%;
        grid-template-areas: 
        "hero"
        "form"
        "article"
        ;

    }

    .blog-title {
        margin-left: 4%;
    }

    .strapline {
        margin-left: 4%;
    }

    .body-text {
        margin-left: 5%;
        margin-right: 0;
    }
}


