@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&display=swap');

/* Hero section */

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    z-index: -2;
}

.hero-image {
    flex: 1;
    margin-top: -11rem;
    z-index: -1;
}

.cctv {
    max-width: 90%;
    min-width: 4rem;
    text-align: center;
}

.headline {
    flex: 1;
    justify-content: center;
    margin: 10% 10% 10% 10%;
    font-family: PT Sans, sans-serif;
    font-size: xx-large;
    color: rgb(17, 17, 17)
}

.accent {
    color: rgb(216, 0, 0);
    padding-top: 1rem;
}

/* Info section */

body {
    background-color: aliceblue;
}

.info-block {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: azure;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.info {
    flex:1;
    justify-content: center;
    text-align: center;
    padding: 3% 5%;
}

.icon {
    margin: 5%;
    max-width: 10rem;
    padding: 5%;
    background-color: rgb(232, 241, 243);
    border-radius: 25%;
}

/* Styling for decrypt form container */

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "grid-area-1 grid-area-2";
    margin: 2% 0%;
    
}

.grid-area-1 {
    grid-area: grid-area-1;
    padding: 5%;
    margin-left: 14%;
    margin-top: 14%;
    font-family:  PT Sans, sans-serif;

    
}

.decrypt-tagline {
    font-family:  PT Sans, sans-serif;
    font-size: 60px;
}

.form-info {
    font-size: 30px;
}


.grid-area-2 {
    justify-content: center;
    text-align: center;
    grid-area: grid-area-2;
    padding: 5% 8%;
}
/* Changes for mobile compatibility */

@media(max-width:1020px) {
 
    .hero {
        flex-direction: column;
    }

    .hero-image {
        max-width: 40%;
        margin-top: -4rem;
        order: 1;
    }

    .cctv {
        max-width: 100%;
        
    }

    .headline {
        order: 2;
        font-size: xx-large;
        margin: auto auto auto auto auto;
    }

    .grid-container {
        grid-template-columns: 100%;
        grid-template-areas: 
        "grid-area-1"
        "grid-area-2";
    }

    .grid-area-1 {
        text-align: center;
        margin-left: 0;
    }
}

