/*form styling new_blog */

.form-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px;
    border-style: solid;
    padding: 1rem 0%;
    width: 100%;
    text-align: center;

}

form {
    flex: 1;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    width: 50%;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(80, 71, 71);
    
}

.form-title {
    font-size: 3rem;
    color: rgb(240, 240, 240);
    align-self: center;
}

.form-entry {
    padding: 0.5rem 0;
    text-align: left;
}

.form-content {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: rgb(240, 240, 240);
}

label {
    color: rgb(240, 240, 240);
    font-size:  1rem;
    font-weight: 400;
}