@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(63, 77, 90);
    font-family: 'Inter';
    font-weight: bold;
    z-index: 1;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* Navigation bar */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    gap: 60px;
}

.logo {
    margin-top: 10px;
    margin-left: 160px;
    max-width: 7rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: antiquewhite;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Hero section */

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    z-index: -2;
}

.hero-image {
    flex: 1;
    margin-top: -11rem;
    z-index: -1;
}

.cctv {
    max-width: 90%;
    min-width: 4rem;
    text-align: center;
}

.headline {
    flex: 1;
    justify-content: center;
    margin: 10% 10% 10% 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: xx-large;
    color: rgb(17, 17, 17)
}

.accent {
    color: rgb(216, 0, 0);
    padding-top: 1rem;
}

/* Info section */

body {
    background-color: rgb(232, 241, 243);
}

.info-block {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: azure;
    padding-bottom: 80%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.info {
    flex:1;
    justify-content: center;
    text-align: center;
    padding: 3% 5%;
}

.icon {
    max-width: 10rem;
    padding-bottom: 5%;
}

/* Changes for mobile compatibility */

@media(max-width:1020px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(63, 77, 90);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        margin-left: 15px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-image {
        max-width: 40%;
        margin-top: -4rem;
        order: 1;
    }

    .cctv {
        max-width: 100%;
        
    }

    .headline {
        order: 2;
        font-size: xx-large;
        margin: auto auto auto auto auto;
    }
}

