@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(63, 77, 90);
    font-family: 'Inter';
    font-weight: bold;
    z-index: 1;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

/* Navigation bar */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    gap: 60px;
}

.logo {
    margin-top: 10px;
    margin-left: 160px;
    max-width: 7rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: antiquewhite;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

btn {
    padding: 1rem;
    border-radius: 12px;
}

.reg-button {
    background-color: rgb(46, 158, 2);
}

.login-button {
    background-color: rgb(255, 177, 9);
    padding: 1rem 1.4rem;
}



/* Changes for mobile compatibility */

@media(max-width:1020px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(63, 77, 90);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        margin-left: 15px;
    }

}

