{% extends '../base.html' %}
{% block content %}
<h1>Here is your blog:</h1>
{% for blogs in blog %}
<br>
<h2>{{ blogs.title }}</h2>
<br>
{{ blogs.time_created }}
<br>
{{ blogs.strapline }}
<br>
{{ blogs.blog_content }}
<br>
{{ blogs.attributed_name }}
<br>
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Decrypt</button>
</form>

{% endblock %}


#Next step is to create form to try to decode the blog post using the key that was shared with the user.
