{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/decrypt-form.css' %}">
<div class="decrypt-form">
    <div class="form-head">
    <img class="article-image" src="{% static 'images/article_img.svg' %}" alt="">
</div>
    <h2 class="form-title">Decrypt Article</h2>
    <br>
    <form class="entries" method="post">
        <p>Please confirm the blog ID and access key.</p>
        <br>
        {% csrf_token %}
        {{form.as_p}}
        <button class="submit-button" type="Submit">Decrypt</button>
    </form>
</div>
</div>
{% endblock %}