{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}">
<div class="dash">
    <div>
        <span id="profile-strap" class="profile-strap"></span>
    </div>
    <div id="banner" class="banner">
        <span class="profile-picture"></span>
        <div class="banner-contents">
            <h1>Welcome, {{request.user.username}}!</h1>
            <br>
            <p class="card-text">This card will be populated with key user information. Such as, number of blogs, number of times successfully decrypted, and perhaps warnings for failed decryption.</p>
        </div>
    </div>
    <div class="overlay"><h1>@{{request.user.username}}</h1></div>
        <div id="blogs" class="blogs">
            <div class="blog-title"><h1>Your posts:</h1></div>
            {% for user_blog in user_blogs %}
            <a class="link-wrapper" href="{% url '1_blog' id=user_blog.id%}">
                <div class="blog">
                <div class="blog-header">
                    <h2 class="blog-count">{{user_blog.title}}</h2>
                    <h4 class="blog-strap">{{user_blog.strapline}}</h4>
                </div>
                <br>
                <p class="blog-text">
                    {{user_blog.time_created}}
                </p>
            </div>
            </a>
            {% endfor %}

        </div>
        <div class="user-actions">
            <h1>User actions:</h1>
        </div>
</div>
</body>
<script src="scripts.js"></script>
</html>
{% endblock %}