{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header>
    <nav class="navbar">
        
        <a href="{% url 'homepage'  %}" class="nav-branding"><img src="{% static 'images/text_logo.png' %}" alt="logo" class="logo"></a>
        <ul class="nav-menu">
      
            <li class="nav-item">
                <a href="{% url 'homepage' %}" class = "nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'all_blogs' %}" class = "nav-link">Blogs</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'log_me_out' %}" class = "nav-link"><btn class="login-button">Log Out</btn></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard' username=request.user.username %}" class = "nav-link"><btn class="reg-button">Dashboard</btn></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class = "nav-link"><btn class="login-button">Log in</btn></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}" class = "nav-link"><btn class="reg-button">Register</btn></a>
            </li>
            {% endif %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav> 
</header>
<script src="{% static 'javascript/scripts.js' %}"></script>